*
{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#container
{
    height: 100vh;
    width: 100vw;
    background-color: rgb(35, 43, 40);
    display: flex;
    flex-direction: column;
    
}
.one
{
    flex: 2;
    background-color: rgb(117, 195, 178);
    display: flex;
    justify-content:center;
    align-items: center;
}
.two
{
    flex: 8;
    /* background-color:  black; */
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    
}
.show
{
    height: 50px;
    width: 350px;
    background-color: white;
    margin-top: 10px;
    padding: 15px;
    border: 1px solid rgb(173, 167, 167);
    border-radius: 5px;
  
  
}